<div class="footer">
    <div class="social">
        <a href="#">
            <img src="Images/facebook.svg" alt="">
        </a>
        <a href="#">
            <img src="Images/instagram.svg" alt="">
        </a>
        <a href="#">
            <img src="Images/twitter.svg" alt="">
        </a>
        <a href="#">
            <img src="Images/linkedin.svg" alt="">
        </a>
        <a href="#">
            <img src="Images/youtube.svg" alt="">
        </a>
    </div>
    <p>Birla Institue of Applied Sciences</p>
    <p>Bhimtal, 263136 &#169;2024</p>
    <div class="footer-elements">
        <a href="#">Sitemap</a>
        <a href="#">Disclaimers</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Email</a>
        <a href="#">Terms & Condition</a>
        <a href="#">Refund Policy</a>
        <a href="#">IT Policy</a>
        <a href="#">Library</a>
        <a href="#">Anti Ragging</a>
    </div>
    <p>Designed By Divyanshu Amdola (CSE 2022)</p>
</div>

<script>
    var sidebar=document.querySelector(".sidebar");
    var menu=document.querySelector(".menu");
    var cancel=document.querySelector("#cancel");
    menu.addEventListener("click",()=>{
        sidebar.style.display="flex";
    });
    cancel.addEventListener("click",()=>{
        sidebar.style.display="none";
    });
</script>
</body>
</html>