<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birla Institue of Applied Sciences Bhimtal 263136</title>
    <link rel="stylesheet" href="styles/home.css">
    <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="Images/favicon_io/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="Images/favicon_io/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="Images/favicon_io/favicon-16x16.png"
  />
  <link rel="manifest" href="Images/favicon_io/site.webmanifest" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="Images/bias-removebg-preview.png">
        </div>
        <div class="institute">
            <div class="main">
                Birla Institue of Applied Sciences
            </div>
            <div class="university">
                Veer Madho Singh Bhandari Uttarakhand Technical University
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="menu">
            <a href="#" id="menu"
              ><?xml version="1.0" encoding="utf-8"?>
              <svg
                width="28px"
                height="28px"
                viewBox="0 0 24 24"
                fill="white"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 6H20M4 12H20M4 18H20"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                /></svg
            ></a>
          </div>
          <div class="nav2">
            <div class="nav1">
                <a href="#" class="nav">Home</a>
                <a href="#" class="nav">Academics</a>
                <a href="#" class="nav">Admission</a>
                <a href="#" class="nav">Placement</a>
                <a href="#" class="nav">Syllabi</a>
                <a href="#" class="nav">Alumini</a>
                <a href="#" class="nav">Administration</a>
                <a href="#" class="nav">Campus</a>
        </div>
        <div class="sidebar">
            <div href="#" id="cancel">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg
                width="28px"
                height="28px"
                viewBox="0 0 512 512"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="work-case"
                    fill="black"
                    transform="translate(91.520000, 91.520000)"
                  >
                    <polygon
                      id="Close"
                      points="328.96 30.2933333 298.666667 1.42108547e-14 164.48 134.4 30.2933333 1.42108547e-14 1.42108547e-14 30.2933333 134.4 164.48 1.42108547e-14 298.666667 30.2933333 328.96 164.48 194.56 298.666667 328.96 328.96 298.666667 194.56 164.48"
                    ></polygon>
                  </g>
                </g>
              </svg>
            </div>
            <a href="#" class="nav">Home</a>
            <a href="#" class="nav">Academics</a>
            <a href="#" class="nav">Admission</a>
            <a href="#" class="nav">Placement</a>
            <a href="#" class="nav">Syllabi</a>
            <a href="#" class="nav">Alumini</a>
            <a href="#" class="nav">Administration</a>
            <a href="#" class="nav">Campus</a>
          </div>
          <div class="login">
            <a class="nav log">Login</a>
            <div class="submenu">
              <a href="/login" target="_blank">User Login</a>
              <a href="/adminlogin" target="_blank">Admin Login</a>
              <a href="/signup" target="_blank">Register</a>
            </div>
        </div>
          </div>
    </div>