<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login | Birla Institute of Applied Sciences</title>
    <link rel="stylesheet" href="styles/login.css">
    <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="Images/favicon_io/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="Images/favicon_io/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="Images/favicon_io/favicon-16x16.png"
  />
  <link rel="manifest" href="Images/favicon_io/site.webmanifest" />
</head>
<body>
    <div class="background">
        <div class="img">
            <img src="Images/admin.svg">
        </div>
        <div class="login">
            <div class="container">
                <h1>Admin Login</h1>
                <div class="data">
                    <form action="/adminlogin" method="post">
                        <div class="email">
                            <input type="text" id="email" placeholder="Login Id" name="username" required>
                        </div>
                        <div class="password">
                            <input type="password" id="password" placeholder="Password" name="password" required>
                        </div>
                        <div class="submit">
                             <input type="submit" name="submit" value="Login">
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
</body>
</html>