<%-include("partials/header.ejs")%>
<div class="video">
        <video src="Images/0817.mp4" autoplay muted loop></video>
    </div>
    <div class="courses">
        <div class="head">Courses</div>
        <div class="all-courses">
            <a href="#">
                <div class="course">
                    <img src="Images/CSE.svg" alt="" srcset="">
                    <p>Computer Science & Engineering (CSE)</p>
                </div>
            </a>
            <a href="#">
                <div class="course">
                    <img src="Images/ECE.svg" alt="">
                    <p>Electrical & Electronics Engineering (ECE)</p>
                </div>
            </a>
            <a href="#">
                <div class="course">
                    <img src="Images/BCA.svg" alt="">
                    <p>Bachelor of Computer Applications (BCA)</p>
                </div>
            </a>
            <a href="#">
                <div class="course">
                    <img src="Images/MCA.svg" alt="">
                    <p>Master of Computer Applications (MCA)</p>
                </div>
            </a>
        </div>
    </div>
    <div class="director">
        <div class="head">Director's Desk</div>
        <div class="director-img">
            <img src="Images/Director.jpg">
        </div>
        <div class="para">
            <p>
                We welcome you to the website of Birla Institute of Applied Sciences, Bhimtal. Through this, our efforts are to provide as much information as possible and needed to you within limited space and time. We have tried to attend to the information needs of our prospective and registered students, alumni, parents, industry, our staff, academicians and those interested to know about BIAS. We invite your valuable comments and suggestions. We also extend warm welcome to all those students who have been seeking admission in our MCA or B. Tech. degree programmes. We assure you that it would be very rewarding experience for you to be a part of this Institute. With many renowned Corporate Houses employing our graduates (90 percent placement for MCA and 75% for B. Tech. in the last academic session), we hope our students would keep performing better and better.
            </p>
        </div>
    </div>
    <%-include("partials/footer.ejs")%>