@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Inter:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scrollbar-width: none;
    user-select: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.head{
    background-color: #f2f2f2;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
.header h1{
    font-family: "Poopins", serif;
    font-size: 4rem;
    background: -webkit-linear-gradient(#1e56a0, #305973);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header h2{
    font-family: "David Libre", serif;
    font-size: 2rem;
    padding-top: 2rem;
}
.header h2 strong{
    color: #1e56a0;
}
.header img{
    width: 150px;
    filter: drop-shadow(0 0 0.75rem #1e56a0);
}
.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.logout button{
    padding: 10px;
    background-color: #8b8d96;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: "zain",serif;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.wel h4{
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
    font-family: "zain",serif;
    color: #305973;
}
.personal{
    color: #323643;
    display: inline-block;
    font-family: "zain",serif;
    font-size: 2rem;
}
.form{
    padding: 0rem 3rem 3rem 3rem;
}
.form legend{
    font-size: 3rem;
    color: #305973;
    font-family: "zain",serif;
}
fieldset{
    margin-top: 3rem;
    border: 2px solid #9e9c9c;
    border-radius: 2rem;
    background-color: #f2f2f2;
}
.form fieldset .content{
    padding: 2rem;
}
.form fieldset .content .name{
    color: #323643;
    display: inline-block;
    font-family: "zain",serif;
    font-size: 2rem;
    padding: 2rem;
}
.form input[type=text],.form input[type=number],.form input[type=email],.form input[type=date]{
    padding: 5px;
    font-family: "zain",serif;
    font-size: 24px;
    color: #606470;
    width: 300px;
}
.form input[type=radio]{
    width: 25px;
}
.form select{
    text-align: center;
    font-family: "zain",serif;
    padding: 5px;
    font-size: 24px;
    color: #606470;
    width: 300px;
}
.marks{
    display: inline-block;
    padding: 2rem;
}
.form .name.preference input{
    text-align: center;
    width: 50px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.button{
    font-size: 24px;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 2rem;
    color: #323643;
    font-weight: bold;
    font-family: "zain",serif;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    transform: scale(1.1);
    background-color: #588dad;
    color: white;
}
@media screen and (max-width:890px) {
    .form fieldset .content .name{
        font-size: 24px;
    }
    .form input[type=text], .form input[type=number], .form input[type=email], .form input[type=date]{
        width: 230px;
        font-size: 20px;
    }
    .form select{
        width: 230px;
        font-size: 20px;
    }
    .header{
        padding: 2rem;
    }
    .header h1{
        font-size: 3rem;
    }
    .header h2{
        font-size: 26px;
    }
    .header img{
        width: 140px;
    }
    .logout button{
        font-size: 18px;
    }
    .message p{
        font-size: 25px;
    }
    .application{
        padding: 2rem;
        font-size: 14px;
    }
    .application img{
        width: 25px;
    }
}
@media screen and (max-width:742px) {
    .header img{
        width: 110px;
    }
    .header h1{
        font-size: 50px;
    }
    .header h2{
        font-size: 20px;
    }
    .message p{
        font-size: 20px;
    }
    .application{
        padding: 1rem;
    }
}
@media screen and (max-width:600px) {
    .welcome{
        padding-top: 2rem;
    }
    fieldset{
        margin-top: 1rem;
    }
    .form{
        padding: 0rem 2rem 2rem 2rem;
    }
    .form legend{
        font-size: 30px;
    }
    .form fieldset .content .name{
        padding: 10px;
        font-size: 20px;
    }
    .form input[type=text], .form input[type=number], .form input[type=email], .form input[type=date]{
        width: 185px;
        font-size: 16px;
    }
    .form fieldset .content .name .marks{
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    .form .name.preference input{
        width: 35px;
    }
    .options{
        gap: 1rem;
    }
    .marks input[type=number]{
        width: 90px;
    }
    .button{
        font-size: 20px;
        padding: 1rem;
    }
    .submit{
        padding-top: 1rem;
    }
    .form select{
        width: 185px;
        font-size: 16px;
    }
    .header h1{
        font-size: 40px;
    }
    .header h2{
        font-size: 18px;
    }
    .header{
        padding-top: 10px;
    }
    .welcome h2{
        font-size: 24px;
    }
    .logout button{
        padding: 6px;
        font-size: 16px;
    }
    .logout{
        padding-bottom: 1rem;
    }
    .message p{
        padding: 2rem;
    }
    .application{
        padding: 10px;
        gap: 2rem;
        font-size: 10px;
    }
    .application img{
        width: 20px;
    }
}
@media screen and (max-width:400px) {
    .form legend{
        font-size: 24px;
    }
    .form fieldset .content{
        padding: 1rem;
    }
    .form fieldset .content .name{
        font-size: 16px;
    }
    .form fieldset .content .name .marks{
        font-size: 16px;
    }
    .form input[type=text], .form input[type=number], .form input[type=email], .form input[type=date]{
        width: 124px;
        font-size: 12px;
    }
    .form select{
        width: 124px;
        font-size: 12px;
    }
    .form .name.preference input{
        width: 30px;
    }
    .marks input[type=number]{
        width: 68px;
    }
    .header h1{
        font-size: 30px;
    }
    .header{
        padding-bottom: 10px;
    }
    .button{
        font-size: 16px;
        padding: 10px;
    }
    .header h2{
        padding-top: 1rem;
        font-size: 15px;
    }
    .header img{
        width: 95px;
    }
    .message p{
        font-size: 17px;
    }
    .application{
        display: none;
    }
    .student-table{
        display: contents;
    }
    th{
        text-align: center;
        font-size: 10px;
    }
    td{
        text-align: center;
        font-size: 13px;
    }
    td img{
        width: 20px;
    }
    table{
        border: none;
    }
}
@media screen and (max-width:390px) {
    .form{
        padding: 0rem 1rem 1rem 1rem;
    }
    .form legend{
        font-size: 24px;
    }
    .form input[type=text], .form input[type=number], .form input[type=email], .form input[type=date]{
        width: 135px;
    }
    .form fieldset .content .name{
        font-size: 18px;
    }
    .marks input[type=number]{
        width: 76px;
    }
}